*{
    background-color: #FFFAF5;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins;
  }
  
  @font-face {
    font-family: Poppins;
    src: url("fonts/Poppins-Regular.ttf");
  }
  
 .h  {
    padding: 27px 60px;
    display: flex;
    justify-content: space-between;
    margin:0 162px 25px 162px;
  }

.flex{
    
    display:flex;
    justify-content: center;
    align-items: center;
}

.flex2{
    display: flex;
    justify-content: space-between;
    gap: 23px;
}

.flex p {
    height: 18px;
    width: 30px;
    font-size: 24px;
    color: #42766C;
    font-weight: 700;
  }

  a {
    text-decoration: none;
    font-size: inherit;
    font-weight: inherit;
    font-style: inherit;
    font-family: inherit;
    line-height: inherit;
    color: black;
  }
  
  a:visited {
    color: black;
  }
  
  a:focus {
    color: black;
  }

  
.menu {
    display: flex;
    justify-content: space-between;
    gap: 33px;
    align-items: center;
  }

  .button {
    padding: 4px 12px;
    border: none;
    border-radius: 5px;
    background-color: #ff6464;
    height:44px;
    opacity: 70%;
    font-size: 14px;
    color: #ffffff;
    font-weight: 500;
    cursor: pointer;
  }

  main .main-div .div .h1{
    font-size: 52px;
    color: #333333;
  }

.main-div{
    margin:0 162px 0 162px;
    display: flex;
    justify-content: space-between;
    gap: 40px;
}


.main-div .div{
margin: 140px 0 0 0;

}

.photos-div{
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.photos-div .img1{
    margin: 80px 0 0 0;
}

  main .main-div .div button {
    padding: 4px 12px;
    border: none;
    height:44px;
    border-radius: 5px;
    background-color: #ff6464;
    opacity: 70%;
    font-size: 14px;
    color: #ffffff;
    font-weight: 500;

    cursor: pointer;
  }

  main .main-div .div p{
    font-weight: 400;
    font-size: 16px;
    color:#828282;
    margin: 15px 0 15px 0;
  }


  main .statistics-div{
    background-color: linear-gradient(180deg, #FF9685 0%, #F87661 100%);
    width: 1080px;
    height: 196px;
    border-radius: 14;
  }